################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/C4E4/.vs/C4E4/v15/Browse.VC.opendb
/C4E5/.vs/C4E5/v15/Browse.VC.opendb
/C4E7/.vs/C4E7/v15/Browse.VC.opendb
